.home-area {
    margin-top: 40px;
    margin-left: 10px;
    margin-right: 10px;

    height: 646px;
    background-color: #B2B6BB;
}

.grid-area {
    background-color: #B2B6BB;
}
.grid-item {
    border-radius: 10px;;
}