<mat-toolbar class="top-bar" fxLayout="row" fxLayoutAlign="space-between">

    <button mat-icon-button routerLink="/chat" color="primary" routerLinkActive="active-item">
        <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button routerLink="/home" color="accent" routerLinkActive="active-item">
        <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button routerLink="/logout" color="warn" routerLinkActive="active-item">
        <mat-icon>favorite</mat-icon>
    </button>
</mat-toolbar>
<mat-toolbar class="bottom-bar">
    <button mat-icon-button routerLink="/login" routerLinkActive="active-item">
        <mat-icon>more_vert</mat-icon>
    </button>
    <button mat-icon-button routerLink="/chat" color="primary" routerLinkActive="active-item">
        <mat-icon>menu</mat-icon>
    </button>
    <button mat-icon-button routerLink="/home" color="accent" routerLinkActive="active-item">
        <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button routerLink="/logout" color="warn" routerLinkActive="active-item">
        <mat-icon>favorite</mat-icon>
    </button>
    <button mat-icon-button routerLink="/logout" color="warn" routerLinkActive="active-item">
        <mat-icon>open_in_new</mat-icon>
    </button>

</mat-toolbar>