<mat-toolbar class="top-bar" fxLayout="row" fxLayoutAlign="space-between">

    <img src="../../assets/svgs/user.svg" style="height: 40px;">

    <img src="../../assets/svgs/logo.svg" style="height: 64px;">
    <button mat-icon-button routerLink="/logout" color="warn" routerLinkActive="active-item">
        <mat-icon class="fas fa-bars" style="color: #B2B6BB;"></mat-icon>
    </button>
</mat-toolbar>
<mat-toolbar class="bottom-bar">
    <button mat-icon-button routerLink="/login" routerLinkActive="active-item">
        <mat-icon class="fas fa-user" style="color: #2C5F8D;"></mat-icon>
    </button>
    <button mat-icon-button routerLink="/chat" color="warn" routerLinkActive="active-item">
        <mat-icon class="fas fa-bell"></mat-icon>
    </button>
    <button mat-icon-button routerLink="/home" routerLinkActive="active-item" style="color: #2C5F8D;">
        <mat-icon>home</mat-icon>
    </button>
    <button mat-icon-button routerLink="/board" color="warn" routerLinkActive="active-item">
        <mat-icon class="fas fa-comment-dots"></mat-icon>
    </button>
    <button mat-icon-button routerLink="/roommates" routerLinkActive="active-item">
        <mat-icon class="fas fa-users" style="color: #2C5F8D;"></mat-icon>
    </button>
</mat-toolbar>